:root {
  --main-color: #bed440;
  --main-color-soft: #ccdb74;
  --main-color-pale: #dfec98;
  --main-color-fluo: #c5d85840;
  --main-color-pale-fluo: #dfec9840;
  --main-color-strong: #aec52f;
  --main-color-deep: #9fb427;
  --main-color-dark: #8c9f20;
  --main-color-grayish-fluo: rgba(146, 147, 127, 0.15);
  --main-color-dark-grayish: #6d6e5e;
  --main-color-grayish: #a9a99f;
  --main-color-light-grayish: #bbbcaf;
  --sub-color: #b99f72;
  --sub-color-soft: #d8bb8a;
  --sub-color-strong: #96815c;
  --text-color: #27231d;
  --background-top: #fdfde4;
  --background-bottom: #fffcd4;
}

:root.theme-orange {
  --main-color: #ecae75;
  --main-color-soft: #fac798;
  --main-color-pale: #ffd8a2;
  --main-color-fluo: #f8b06d40;
  --main-color-pale-fluo: #fde5c440;
  --main-color-strong: #d88b44;
  --main-color-deep: #b56316;
  --main-color-dark: #a55a14;
  --text-color: #27231d;
  --background-top: #fff8e3;
  --background-bottom: #fff1e4;
}

:root.theme-aqua {
  --main-color: #53c3dd;
  --main-color-soft: #6ed5ed;
  --main-color-pale: #a9e9f7;
  --main-color-fluo: #47b7d040;
  --main-color-pale-fluo: #a9e9f740;
  --main-color-strong: #43beda;
  --main-color-deep: #32b2ce;
  --main-color-dark: #2ea3be;
  --text-color: #1d2227;
  --background-top: #e3fff8;
  --background-bottom: #d2f5f3;
}

:root {
  --play-background-color-top: #ecfffe;
  --play-background-color-bottom: #f4ffd1;
  --play-background: linear-gradient(
    var(--play-background-color-top) 30%,
    var(--play-background-color-bottom)
  );
  --playing-mark: "▶";
  --lightbox-background: rgba(0, 0, 0, 0.3);
  --lightbox-background-preview: rgba(146, 147, 127, 0.8);
  --lightbox-background-text: rgb(246, 246, 243);
}
:root.theme-orange {
  --play-background-color-top: #fffbdf;
  --play-background-color-bottom: #fff4d6;
}

:root {
  --background: linear-gradient(
    var(--background-top) 30%,
    var(--background-bottom)
  );
  --scroll-margin: 10px;
}
