@import "./styles/color.css";
@import "./styles/tailwind.css";

body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  overflow-y: scroll;

  &::after {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background: var(--background);
    z-index: -9999;
  }
}

body::-webkit-scrollbar-track {
  background: var(--background);
}

body,
.window,
.overflow-y-scroll,
.fc-scroller {
  &::-webkit-scrollbar {
    width: var(--scroll-margin);
    height: var(--scroll-margin);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--main-color-soft);
    border-radius: round;
  }
  &.overflow-y-hidden {
    &,
    .fixed {
      padding-right: var(--scroll-margin) !important;
    }
    .fixed .absolute.right-0 {
      right: var(--scroll-margin) !important;
    }
  }
  &.mobile {
    &,
    .window,
    .overflow-y-scroll,
    .fc-scroller {
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
      &.overflow-y-hidden {
        &,
        .fixed {
          padding-right: 0 !important;
        }
        .fixed .absolute.right-0 {
          right: 0 !important;
        }
      }
    }
  }
}

* {
  -webkit-tap-highlight-color: var(--main-color-fluo);
  ::selection {
    background-color: var(--main-color-soft);
    color: white;
  }
}

[disabled] {
  pointer-events: none;
}

button,
.button {
  &:not(.plain) {
    color: white;
    background-color: var(--main-color);
    display: inline-block;
    cursor: pointer;
    font-weight: 700;
    border: 0;
    outline: none;
    -webkit-user-select: none;
    user-select: none;
    &:hover {
      color: white;
      background-color: var(--main-color-soft);
    }
  }
}

.content-parent {
  > *:not(.wide) {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
  }
  > *:not(.transparent) {
    // background-color: #ffffff80;
    overflow: hidden;
  }
}

.react-comic-viewer {
  max-width: none !important;
  -webkit-user-select: none;
  user-select: none;
  button {
    color: lightgray;
    background-color: transparent;
    display: inherit;
    // padding: 0 0.5rem;
    &:hover {
      color: lightgray;
      background-color: var(--main-color-fluo);
    }
  }
}

a {
  word-break: break-all;
  color: var(--main-color-strong);
  &:hover {
    color: var(--main-color);
  }
}

.emoji {
  // width: 1.4em;
  height: 1.25em;
  display: inline-block;
  padding: 0 0.05em 0 0.1em;
  vertical-align: -0.12em;
  margin: 0;
}

img {
  object-fit: cover;
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
}
h2 {
  font-size: 1.8rem;
  line-height: 2.2rem;
}
h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}
h4 {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.readmore:not(.extend) > * {
  display: none;
}

.readmore:not(.extend):before {
  content: "もっと読む";
  cursor: pointer;
}

details {
  > summary {
    display: list-item;
    padding: 0.4em 1em;
    cursor: pointer;
    color: white;
    background-color: var(--main-color);
    font-weight: 700;
    border: 0;
    outline: none;
    border-radius: 0.5em;
    width: fit-content;
    min-width: 20em;
    max-width: 80%;
    margin: 0.5em;
    padding-left: 1.2em;
    line-height: 1.5em;
    -webkit-user-select: none;
    user-select: none;
  }
  > button.close {
    font-size: 0.7em;
    width: 30em;
    min-width: 50%;
    border-radius: 0.5em;
    margin: 0.5em auto 0.5em 0.5em;
    background-color: var(--main-color-light-grayish);
  }
  details {
    margin-left: 1em;
  }
}

code {
  display: inline-block;
  background-color: var(--main-color-grayish);
  color: white;
  border-radius: 16px;
  padding: 1em 1em;
  max-width: 92vw;
  overflow: auto;
  white-space: pre-wrap;
  box-sizing: border-box;
  width: 99%;
  min-width: unset;
}

#audio_background {
  overflow: hidden;
  opacity: 0;
  position: fixed;
  background-attachment: fixed;
  z-index: -50;
  top: 0;
  /* transition: opacity 1s; */
  width: 100vw;
  height: 100vh;
  background: var(--play-background);
}

.audio_play body::-webkit-scrollbar-track {
  background: var(--play-background);
}

.audio_play #audio_background {
  opacity: 1;
}

/* .bg-background-top,
.bg-background-bottom,
:root {
  transition: background-color 1s;
} */

.audio_play .bg-background-top {
  background-color: var(--play-background-color-top);
}

form input,
form textarea,
form .preview-area,
form select {
  border: solid 1px var(--main-color-deep);
  border-radius: 0.5em;
  box-sizing: border-box;
}

form select {
  padding: 0.25rem;
}

*:focus-visible {
  outline: solid 1px var(--main-color-dark);
}

.parsed p {
  margin: 1.5rem auto;
  white-space: pre-line;
}

.preview-area .parsed p:first-child {
  margin-top: 0;
}

.charaIcon {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
}

iframe {
  max-width: 100%;
}

.fc {
  line-height: 1.1em;
  --fc-event-bg-color: var(--main-color-strong);
  --fc-button-hover-bg-color: var(--main-color-soft);
  --fc-event-border-color: var(--main-color-strong);
  --fc-event-border-color: var(--main-color-strong);
  --fc-button-bg-color: var(--main-color);
  --fc-button-hover-border-color: var(--main-color-soft);
  --fc-button-active-bg-color: var(--main-color-deep);
  --fc-button-active-border-color: var(--main-color-deep);
  --fc-button-border-color: var(--main-color-deep);
  --fc-button-active-border-color: var(--main-color-dark);
  --fc-neutral-bg-color: var(--main-color-pale-fluo);
  --fc-list-event-hover-bg-color: var(--main-color-pale);
  --fc-today-bg-color: var(--main-color-pale-fluo);
  .fc-day-sat {
    --fc-non-business-color: rgba(95, 146, 240, 0.132);
  }
  .fc-day-sun {
    --fc-non-business-color: rgba(240, 95, 95, 0.132);
  }
  .fc-h-event:hover {
    --fc-event-bg-color: var(--main-color);
  }
  .fc-list-empty {
    --fc-neutral-bg-color: var(--main-color-grayish-fluo);
  }
  .fc-h-event {
    color: white;
  }
  a:hover {
    color: var(--main-color-dark);
  }

  .fc-toolbar-title,
  .fc-col-header,
  .fc-daygrid-day-top,
  .fc-list-day {
    font-family: var(--font-Mandali), Arial, sans-serif;
  }
  .fc-col-header {
    line-height: 1.3em;
  }
  .fc-button-group button:focus {
    box-shadow: none !important;
  }
  .fc-today-button:disabled {
    opacity: 1;
  }
  .fc-button-primary {
    font-size: 0.9em;
  }
  .fc-toolbar {
    .fc-toolbar-title {
      font-size: 1.2em;
    }
    &.fc-header-toolbar {
      margin-bottom: 0.25em;
      .fc-toolbar-chunk:last-child {
        text-align: right;
      }
    }
  }
}

#image_viewer {
  .viewer {
    background-color: var(--lightbox-background);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // width: 100vw;
    // height: 100vh;
    // display: flex;
    // justify-content: center;
    // align-items: stretch;
  }
  .close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
    margin: 0.5rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    path {
      opacity: 0.7;
    }
  }
  .modal {
    margin-top: 3.6rem;
    margin-bottom: 1rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    overflow-y: auto;
    pointer-events: none;
    > * {
      pointer-events: all;
    }
  }
  .preview {
    width: 100%;
    background-color: var(--lightbox-background-preview);
    .sketchfab-embed-wrapper iframe {
      min-height: 64vh;
    }
    img,
    iframe {
      max-height: 64vh;
    }
    * {
      width: 100%;
      height: 100%;
    }
  }
  .info {
    background-color: var(--lightbox-background-text);
    height: 100%;
    > *:first-child {
      min-height: 8rem;
      margin: 1rem 1rem;
    }
    > *:last-child {
      margin-bottom: 2rem;
    }
  }
  @media (min-width: 768px) {
    .preview {
      max-height: 100%;
      img,
      iframe {
        max-height: max-content;
      }
    }
    .close {
      width: 3.5rem;
      height: 3.5rem;
      margin: 0.5rem;
    }
    .modal {
      margin-top: 4rem;
      min-height: 88%;
      flex-direction: row;
      overflow-y: auto;
    }
    .info {
      overflow-y: auto;
      min-width: 30em;
      width: 40vw;
      padding-bottom: 2em;
    }
  }
}

.sketchfab-embed-wrapper {
  iframe {
    width: 100%;
    min-height: 36em;
  }
  #image_viewer & {
    iframe {
      min-height: min-content;
    }
    p {
      display: none;
    }
  }
}

ul {
  .parsed &,
  .default {
    padding-left: 1.25rem;
    li {
      list-style: circle;
    }
  }
}
