@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #c2d555;
  --main-color-soft: #d4e18b;
  --main-color-pale: #dfec98;
  --main-color-fluo: #c5d85840;
  --main-color-pale-fluo: #dfec9840;
  --main-color-strong: #a2b825;
  --main-color-deep: #9bb022;
  --main-color-dark: #9ba346;
  --main-color-grayish: #6d6e5e;
  --main-color-grayish-fluo: rgb(146 147 127 / 90%);
  --main-color-light-grayish: #bbbcaf;
  --sub-color: #b99f72;
  --sub-color-soft: #d8bb8a;
  --sub-color-strong: #96815c;
  --text-color: #27231d;
  --background-top: #fdfde4;
  --background-bottom: #fffcd4;
}

:root.theme-orange {
  --main-color: #ecae75;
  --main-color-soft: #fac798;
  --main-color-pale: #ffd8a2;
  --main-color-fluo: #f8b06d40;
  --main-color-pale-fluo: #fde5c440;
  --main-color-strong: #d88b44;
  --main-color-deep: #c36b18;
  --main-color-dark: #c06817;
  --text-color: #27231d;
  --background-top: #fff8e3;
  --background-bottom: #fff1e4;
}

:root {
  --background:
    linear-gradient(var(--background-top) 30%,
      var(--background-bottom));
  --scroll-margin: 10px;
}

/* 背景設定 */
body {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background: var(--background);
  z-index: -9999;
}

/* スクロールバー設定 */
html>body {
  overflow-y: scroll;
}

body::-webkit-scrollbar,
.window::-webkit-scrollbar {
  width: var(--scroll-margin);
  height: var(--scroll-margin);
}

.mobile body::-webkit-scrollbar,
.mobile .window::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body::-webkit-scrollbar-track {
  background: var(--background);
}

body::-webkit-scrollbar-thumb,
.window::-webkit-scrollbar-thumb {
  background: var(--main-color-soft);
  border-radius: 5px;
}

.emoji {
  width: 1.4em;
  display: inline-block;
  padding: 0 0.05em 0 0.1em;
  vertical-align: -0.12em;
  margin: 0;
}

* {
  -webkit-tap-highlight-color: var(--main-color-fluo);
}

img {
  object-fit: cover;
}

a,
a * {
    color: var(--main-color-strong);
}

a:hover,
a:hover * {
    color: var(--main-color);
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}
h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}
h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}
h4 {
  font-size: 1.5rem;
  line-height: 2rem;
}