@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #c2d555;
  --main-color-soft: #d4e18b;
  --main-color-pale: #dfec98;
  --main-color-fluo: #c5d85840;
  --main-color-pale-fluo: #dfec9840;
  --main-color-strong: #a2b825;
  --main-color-deep: #9bb022;
  --main-color-dark: #9ba346;
  --main-color-grayish: #6d6e5e;
  --main-color-grayish-fluo: rgb(146 147 127 / 90%);
  --main-color-light-grayish: #bbbcaf;
  --sub-color: #b99f72;
  --sub-color-soft: #d8bb8a;
  --sub-color-strong: #96815c;
  --text-color: #27231d;
  --background-top: #fdfde4;
  --background-bottom: #fffcd4;
}

:root.theme-orange {
  --main-color: #ecae75;
  --main-color-soft: #fac798;
  --main-color-pale: #ffd8a2;
  --main-color-fluo: #f8b06d40;
  --main-color-pale-fluo: #fde5c440;
  --main-color-strong: #d88b44;
  --main-color-deep: #c36b18;
  --main-color-dark: #c06817;
  --text-color: #27231d;
  --background-top: #fff8e3;
  --background-bottom: #fff1e4;
}

:root {
  --play-background-color-top: #ecfffe;
  --play-background-color-bottom: #f4ffd1;
  --play-background: linear-gradient(var(--play-background-color-top) 30%,
          var(--play-background-color-bottom));
  --playing-mark: "▶";
  --lightbox-background: rgba(0, 0, 0, 0.3);
  --lightbox-background-preview: rgba(146, 147, 127, 0.8);
  --lightbox-background-text: rgb(255 255 255 / 90%);
}
:root.theme-orange {
  --play-background-color-top: #fff9d4;
  --play-background-color-bottom: #ffead4;
}

:root {
  --background: linear-gradient(
    var(--background-top) 30%,
    var(--background-bottom)
  );
  --scroll-margin: 10px;
}

/* 背景設定 */
body {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background: var(--background);
  z-index: -9999;
}

/* スクロールバー設定 */
html > body {
  overflow-y: scroll;
}

body::-webkit-scrollbar,
.window::-webkit-scrollbar {
  width: var(--scroll-margin);
  height: var(--scroll-margin);
}

.mobile body::-webkit-scrollbar,
.mobile .window::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body::-webkit-scrollbar-track {
  background: var(--background);
}

body::-webkit-scrollbar-thumb,
.window::-webkit-scrollbar-thumb {
  background: var(--main-color-soft);
  border-radius: 5px;
}

.emoji {
  width: 1.4em;
  display: inline-block;
  padding: 0 0.05em 0 0.1em;
  vertical-align: -0.12em;
  margin: 0;
}

* {
  -webkit-tap-highlight-color: var(--main-color-fluo);
}

img {
  object-fit: cover;
}

a,
a * {
  color: var(--main-color-strong);
}

a:hover,
a:hover * {
  color: var(--main-color);
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}
h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}
h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}
h4 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.readmore:not(.extend) > * {
  display: none;
}

.readmore:not(.extend):before {
  content: "もっと読む";
  cursor: pointer;
}

details > summary,
input[type="submit"],
input[type="button"],
button {
  padding: 0.4em 1em;
  cursor: pointer;
  color: white;
  background-color: var(--main-color);
  font-weight: 700;
  border: 0;
  outline: none;
  border-radius: 0.5em;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
  background-color: var(--main-color-soft);
}

details > summary {
  display: list-item;
  width: fit-content;
  min-width: 20em;
  max-width: 80%;
  margin: 0.5em;
  border: 0;
  cursor: pointer;
  padding: 0.4em 1em;
  padding-left: 1.2em;
  line-height: 1.5em;
  user-select: none;
}

details details {
  margin-left: 1em;
}

details > button.close {
  font-size: 0.7em;
  width: 30em;
  min-width: 50%;
  border-radius: 0.5em;
  margin: 0.5em auto 0.5em 0.5em;
  background-color: var(--main-color-light-grayish);
}

code {
  display: inline-block;
  background-color: var(--main-color-grayish);
  color: white;
  border-radius: 16px;
  padding: 1em 1em;
  max-width: 92vw;
  overflow: auto;
  white-space: pre-wrap;
  box-sizing: border-box;
  width: 99%;
  min-width: unset;
}

#audio_background {
  overflow: hidden;
  opacity: 0;
  position: fixed;
  background-attachment: fixed;
  z-index: -50;
  top: 0;
  /* transition: opacity 1s; */
  width: 100vw;
  height: 100vh;
  background: var(--play-background);
}

.audio_play body::-webkit-scrollbar-track {
  background: var(--play-background);
}

.audio_play #audio_background {
  opacity: 1;
}

.bg-background-top, .bg-background-bottom, :root {
  /* transition: background-color 1s; */
}
.audio_play .bg-background-top {
  background-color: var(--play-background-color-top);
}

body.overflow-y-hidden {
  margin-right: var(--scroll-margin) !important;
}